<!-- <header>
  <div class="container_fliud Instruction_header">
<div class="row col-sm-12 Instruction_header_row_1">
    <img src="assets\Image\Assamgov.png" alt="Assam Goverment" height="100px" width="100px">
    <span class="Instruction_header_text">TEACHERS ELIGIBILITY TEST FOR LOWER PRIMARY AND UPPER PRIMARY <br>
      <span class="Instruction_header_text_tet">TET 2020</span>
    </span>
</div>

  </div>
</header> -->
<section class="General_Instruction">
<marquee class="General_Instruction_Text col-sm-12" width="100%" direction="left" height="30%">
    General Instruction For Filling Online Application Form
</marquee>
</section>
<body>
<div class="container Instructions">
<table>
  <tr>
    <td class="Sr">1.</td>
    <td class="Data">Applicant should have a valid Email Id</td>
  </tr>
  <tr>
    <td class="Sr">2.</td>
    <td class="Data">Candidate should note the password given by Him/Her and keep in safe custody.It is necessary for further login.Safe custody of password is the responsibility of the candidate</td>
  </tr>
  <tr>
    <td class="Sr">3.</td>
    <td class="Data">Please note that if a candidate commits any mistake in filling the online Application Form,it cannot be corrected by this office. The Office will take no responsibility of any kind for such forms </td>
  </tr>
  <tr>
    <td class="Sr">4.</td>
    <td class="Data">Please note that if a candidate commits any mistake in filling the online Application Form,it cannot be corrected by this office. The Office will take no responsibility of any kind for such forms </td>
  </tr>
  <tr>
    <td class="Sr">5.</td>
    <td class="Data">Please note that if a candidate commits any mistake in filling the online Application Form,it cannot be corrected by this office. The Office will take no responsibility of any kind for such forms </td>
  </tr>
  <tr>
    <td class="Sr">6.</td>
    <td class="Data">Please note that if a candidate commits any mistake in filling the online Application Form,it cannot be corrected by this office. The Office will take no responsibility of any kind for such forms </td>
  </tr>
  <tr>
    <td class="Sr">7.</td>
    <td class="Data">Please note that if a candidate commits any mistake in filling the online Application Form,it cannot be corrected by this office. The Office will take no responsibility of any kind for such forms </td>
  </tr>
  <tr>
    <td class="Sr">8.</td>
    <td class="Data">Please note that if a candidate commits any mistake in filling the online Application Form,it cannot be corrected by this office. The Office will take no responsibility of any kind for such forms </td>
  </tr>
  <tr>
    <td class="Sr">9.</td>
    <td class="Data">Please note that if a candidate commits any mistake in filling the online Application Form,it cannot be corrected by this office. The Office will take no responsibility of any kind for such forms </td>
  </tr>
  <tr>
    <td class="Sr">10.</td>
    <td class="Data">Please note that if a candidate commits any mistake in filling the online Application Form,it cannot be corrected by this office. The Office will take no responsibility of any kind for such forms </td>
  </tr>
  <tr>
    <td class="Sr">11.</td>
    <td class="Data">Please note that if a candidate commits any mistake in filling the online Application Form,it cannot be corrected by this office. The Office will take no responsibility of any kind for such forms </td>
  </tr>
  <tr>
    <td class="Sr">12.</td>
    <td class="Data">Please note that if a candidate commits any mistake in filling the online Application Form,it cannot be corrected by this office. The Office will take no responsibility of any kind for such forms </td>
  </tr>
  <tr>
    <td class="Sr">13.</td>
    <td class="Data">Please note that if a candidate commits any mistake in filling the online Application Form,it cannot be corrected by this office. The Office will take no responsibility of any kind for such forms </td>
  </tr>
</table>
</div>
<div class="col-sm-12 text-center"> 
  <a routerLink="/form" routerLinkActive="active" class="btn btn-info link_button" role="button">APPLY</a> 
</div>
</body>








<!-- <header>
  <div class="container-fliud">
   <div class="row">  
     <div class="col-sm-3 logo">
        <img src="assets\Image\Assamgov.png" alt="Goverment of Assam" height="100px" width="100px">
     </div>
     <div class="col-sm-9 logo_text">
      <h2>
        <a class="main_gov grey-text" target="blank" href="http://assam.gov.in">Goverment of Assam</a>
        <a class="main_dept brown-text" target="blank" href="#">Teacher Eligibility test</a>
      </h2>
     </div>
   </div>
  </div>
</header> -->  
