<!-- <header>
<div class="container-fluid">
  <div class="row">
      <div class="logo_text col-xl-12">
        <span class="Form_text">Teacher Eligibility Test For Lower Primary and Upper Primary</span>
        <span class="Form_text_2">TET2020</span>
      </div>
  </div>
</div>  
</header> -->

<div class="form_container">
  <span class="Application">Application Form</span>
</div>
<!-- Personal Information -->
<div class="container col-sm-10">
<form action="" >
<fieldset>
  <legend>PERSONAL INFORMATION</legend>
  <div class="container">
      <div class="row">
          <div class="col-25">
            <label for="country">Apply For</label>
          </div>
          <div class="col-75">
            <select id="apply" name="apply">
              <option value="Lower Primary(L.P)">Lower Primary(L.P)</option>
              <option value="Upper Primary(U.P)">Upper Primary(U.P)</option>
              <option value="Both(L.P)&(U.P)">Both(L.P)&(U.P)</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-25">
            <label for="name">Name</label>
          </div>
          <div class="col-75">
            <input type="text" id="name" name="name" placeholder="Your name..">
          </div>
        </div>

        <div class="row">
          <div class="col-25">
            <label for="lname">Father's/Husband Name</label>
          </div>
          <div class="col-75">
            <input type="text" id="F/Hname" name="F/Hname" placeholder="Father's/Husband Name">
          </div>
        </div>

        <div class="row">
            <div class="col-25">
              <label for="mname">Mother's Name</label>
            </div>
            <div class="col-75">
              <input type="text" id="mname" name="mname" placeholder="Mother's Name">
            </div>
          </div>

          <div class="row">
              <div class="col-25">
                <label for="DOB">Date Of Birth</label>
              </div>
              <div class="col-75">
                <input type="date" id="dateOfBirth" name="dateOfBirth">
              </div>
            </div>

            <div class="row">
                <div class="col-25">
                  <label for="Gender">Gender</label>
                </div>
                <div class="col-75">
                    <input type="radio" id="male" name="gender" value="male" checked>
                    <label for="male">Male</label>
                    <input type="radio" id="female" name="gender" value="female">
                    <label for="female">Female</label>
                    <input type="radio" id="other" name="gender" value="other">
                    <label for="other">Other</label>
                </div>
              </div>
              

        <div class="row">
          <div class="col-25">
            <label for="Address">Address</label>
          </div>
          <div class="col-75">
            <textarea id="add" name="address" placeholder="Address" style="height:80px"></textarea>
          </div>
        </div>

        <div class="row">
            <div class="col-25">
              <label for="country">City</label>
            </div>
            <div class="col-75">
              <select id="apply" name="apply">
                <option value="Lower Primary(L.P)">Lower Primary(L.P)</option>
                <option value="Upper Primary(U.P)">Upper Primary(U.P)</option>
                <option value="Both(L.P)&(U.P)">Both(L.P)&(U.P)</option>
              </select>
            </div>
          </div>

          <div class="row">
              <div class="col-25">
                <label for="country">District</label>
              </div>
              <div class="col-75">
                <select id="apply" name="apply">
                  <option value="Lower Primary(L.P)">Lower Primary(L.P)</option>
                  <option value="Upper Primary(U.P)">Upper Primary(U.P)</option>
                  <option value="Both(L.P)&(U.P)">Both(L.P)&(U.P)</option>
                </select>
              </div>
            </div>

            <div class="row">
                <div class="col-25">
                  <label for="country">State</label>
                </div>
                <div class="col-75">
                  <select id="apply" name="apply">
                    <option value="Lower Primary(L.P)">Lower Primary(L.P)</option>
                    <option value="Upper Primary(U.P)">Upper Primary(U.P)</option>
                    <option value="Both(L.P)&(U.P)">Both(L.P)&(U.P)</option>
                  </select>
                </div>
              </div>

              <div class="row">
                  <div class="col-25">
                    <label for="Contact">Contact Number</label>
                  </div>
                  <div class="col-75">
                    <input type="number" id="contact" name="contact" placeholder="Contact Number">
                  </div>
                </div>

                <div class="row">
                    <div class="col-25">
                      <label for="AContact">Alternative Contact Number</label>
                    </div>
                    <div class="col-75">
                      <input type="number" id="Acontact" name="Acontact" placeholder="Alternative Contact Number">
                    </div>
                  </div>

                  <div class="row">
                      <div class="col-25">
                        <label for="email">E-mail</label>
                      </div>
                      <div class="col-75">
                        <input type="email" id="email" name="email" placeholder="E-mail">
                      </div>
                    </div>

                    <div class="row">
                        <div class="col-25">
                          <label for="Aadhar">Aadhar Card No.</label>
                        </div>
                        <div class="col-75">
                          <input type="number" id="aadhar" name="aadhar" placeholder="Aadhar Card No.">
                        </div>
                      </div>       
    </div>  
</fieldset>
</form>
</div>
<!-- Educational -->

<div class="container col-sm-10">
<form action="" >
<fieldset>
  <legend>EDUCATIONAL QUALIFICATION</legend>
  <div class="container">
    <table>
 
      <tr>
      <td align="center"><b>Sl.No.</b></td>
      <td align="center"><b>Examination</b></td>
      <td align="center"><b>Board</b></td>
      <td align="center"><b>Percentage</b></td>
      <td align="center"><b>Year of Passing</b></td>
      </tr>
       
      <tr>
      <td>1</td>
      <td>Class X</td>
      <td><input type="text" name="ClassX_Board" maxlength="30" /></td>
      <td><input type="text" name="ClassX_Percentage" maxlength="30" /></td>
      <td><input type="date" id="date" name="ClassX_YrOfPassing" maxlength="30" /></td>
      </tr>
       
      <tr>
      <td>2</td>
      <td>Class XII</td>
      <td><input type="text" name="ClassXII_Board" maxlength="30" /></td>
      <td><input type="text" name="ClassXII_Percentage" maxlength="30" /></td>
      <td><input type="date" id="date" name="ClassXII_YrOfPassing" maxlength="30" /></td>
      </tr>
       
      <tr>
      <td>3</td>
      <td>Graduation</td>
      <td><input type="text" name="Graduation_Board" maxlength="30" /></td>
      <td><input type="text" name="Graduation_Percentage" maxlength="30" /></td>
      <td><input type="date" id="date" name="Graduation_YrOfPassing" maxlength="30" /></td>
      </tr>
       
      <tr>
      <td>4</td>
      <td>Masters</td>
      <td><input type="text" name="Masters_Board" maxlength="30" /></td>
      <td><input type="text" name="Masters_Percentage" maxlength="30" /></td>
      <td><input type="date" id="date" name="Masters_YrOfPassing" maxlength="30" /></td>
      </tr>

      </table>
    
    </div>  
</fieldset>
</form>
</div>

<!-- Choice of Zone -->

<div class="container col-sm-10">
  <form action="" >
  <fieldset>
    <legend>ZONE/DISTRICT FOR EXAMINATION/SUBJECT/MEDIUM/LANGUAGE</legend>
    <div class="container Zone">
      <div class="row">
        <div class="col-25">
          <label for="Zone">Choice of Zone to Apply:</label>
        </div>
        <div class="col-75">
          <select id="apply" name="apply">
            <option value="Lower Primary(L.P)">Lower Primary(L.P)</option>
            <option value="Upper Primary(U.P)">Upper Primary(U.P)</option>
            <option value="Both(L.P)&(U.P)">Both(L.P)&(U.P)</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="ChoiceDistrict">Choice of District For Examination:</label>
        </div>
        <div class="col-75">
          <select id="apply" name="apply">
            <option value="Lower Primary(L.P)">Lower Primary(L.P)</option>
            <option value="Upper Primary(U.P)">Upper Primary(U.P)</option>
            <option value="Both(L.P)&(U.P)">Both(L.P)&(U.P)</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="Subject">Choice of Subject if Applying for paper II:</label>
        </div>
        <div class="col-75">
            <input type="radio" id="Mathscience" name="Subject" value="Mathematics and Science Teacher" checked>
            <label for="Mathematics and Science Teacher">Mathematics and Science Teacher</label>
            <input type="radio" id="socialstudy" name="Subject" value="Social Studies">
            <label for="Social Studies">Social Studies</label>
        </div>
      </div>
      <!-- Medium of Test Booklet -->
      <div class="row">
        <div class="col-25">
          <label for="Test Booklet">Medium of Test Booklet</label>
        </div>
        <div class="col-75">
            <input type="radio" id="Assamese" name="TestBooklet" value="Assamese" checked>
            <label for="Assamese">Assamese</label>
            <input type="radio" id="Bengali" name="TestBooklet" value="Bengali">
            <label for="Bengali">Bengali</label>
            <input type="radio" id="Bodo" name="TestBooklet" value="Bodo">
            <label for="Bodo">Bodo</label>
            <input type="radio" id="Hindi" name="TestBooklet" value="Hindi">
            <label for="Hindi">Hindi</label>
            <input type="radio" id="English" name="TestBooklet" value="English">
            <label for="English">English</label>
        </div>
      </div>
      <!-- First Language -->
      <div class="row">
        <div class="col-25">
          <label for="First Language">First Language</label>
        </div>
        <div class="col-75">
            <input type="radio" id="Assamese" name="Language" value="Assamese" checked>
            <label for="Assamese">Assamese</label>
            <input type="radio" id="Bengali" name="Language" value="Bengali">
            <label for="Bengali">Bengali</label>
            <input type="radio" id="Bodo" name="Language" value="Bodo">
            <label for="Bodo">Bodo</label>
            <input type="radio" id="Hindi" name="Language" value="Hindi">
            <label for="Hindi">Hindi</label>
            <input type="radio" id="Garo" name="Language" value="Garo">
            <label for="Garo">Garo</label>
            <input type="radio" id="English" name="Language" value="English">
            <label for="English">English</label>
            <input type="radio" id="Manipuri" name="Language" value="Manipuri">
            <label for="Manipuri">Manipuri</label>
        </div>
      </div>

      </div>  
  </fieldset>
  </form>
  </div>




  <div class="container col-sm-10">
    <form action="" >
    <fieldset>
      <legend>PHOTOS AND SIGN</legend>
      <div class="container photoSign">

  
  
        </div>  
    </fieldset>
    </form>
    </div>

































































































<!-- Reservation -->
<div class="container col-sm-10">
  <form action="" >
  <fieldset>
    <legend>RESERVATION</legend>
    <div class="container Reservation">
      <div class="row">
        <div class="col-25">
          <label for="Gender">Category</label>
        </div>
        <div class="col-75">
            <input type="radio" id="generalCategory" name="Category" value="General" checked>
            <label for="General">General</label>
            <input type="radio" id="STCategory" name="Category" value="ST">
            <label for="ST">ST</label>
            <input type="radio" id="STpCategory" name="Category" value="ST(P)">
            <label for="ST(P)">ST(P)</label>
            <input type="radio" id="StHillsCategory" name="Category" value="ST(HILLS)">
            <label for="ST(HILLS)">ST(HILLS)</label>
            <input type="radio" id="obcmobc" name="Category" value="OBC/MOBC">
            <label for="OBC/MOBC">OBC/MOBC</label>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="impaired">Are you Orthopaedically/Locomotor impaired?</label>
        </div>
        <div class="col-75">
            <input type="radio" id="impairedYes" name="impaired" value="Yes" checked>
            <label for="Yes">Yes</label>
            <input type="radio" id="impairedNo" name="impaired" value="NO">
            <label for="NO">NO</label>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="Religion">Religion</label>
        </div>
        <div class="col-75">
            <input type="radio" id="HinduReligion" name="Religion" value="Hinduism" checked>
            <label for="Hinduism">Hinduism</label>
            <input type="radio" id="IslamReligion" name="Religion" value="Islam">
            <label for="Islam">Islam</label>
            <input type="radio" id="ChristianReligion" name="Religion" value="Christian">
            <label for="Christian">Christian</label>
            <input type="radio" id="SikhReligion" name="Religion" value="Sikhism">
            <label for="Sikhism">Sikhism</label>
            <input type="radio" id="OtherReligion" name="Religion" value="Other">
            <label for="Other">Other</label>
        </div>
      </div>


      </div>  
  </fieldset>
  </form>
  </div>