<header>
      <div class="logo_text col-sm-12">
        <span class="Form_text">Teacher Eligibility Test For Lower Primary and Upper Primary</span>
        <span class="Form_text_2">TET2020</span>
</div>  
</header>

<div class="appli">Application Form</div>

<div class="container-fluid col-sm-12">
  <form action="" >
    <fieldset>
      <legend>PERSONAL INFORMATION</legend>
      <div class="form-group row">
        <label for="Apply" class="col-sm-3 col-form-label">Apply For : </label>
        <div class="col-sm-9">
          <select id="ApplyFor" class="form-control">
            <option selected>Choose...</option>
            <option value="Lower Primary(L.P)">Lower Primary(L.P)</option>
            <option value="Upper Primary(U.P)">Upper Primary(U.P)</option>
            <option value="Both(L.P)&(U.P)">Both(L.P)&(U.P)</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="Name" class="col-sm-3 col-form-label">Name :</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="inputName" placeholder="Name">
        </div>
      </div>
      <div class="form-group row">
          <label for="Fathe-HusbandName" class="col-sm-3 col-form-label">Father's/Husband Name :</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputF-HName" placeholder="Father's/Husband Name">
          </div>
      </div>
      <div class="form-group row">
            <label for="MotherName" class="col-sm-3 col-form-label">Mother's Name :</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputMName" placeholder="Mother's Name">
            </div>
      </div>
      <div class="form-group row">
        <label for="DOB" class="col-sm-3 col-form-label">Date of Birth :</label>
        <div class="col-sm-3">
          <input type="date" class="form-control" id="inputDob" placeholder="Mother's Name">
        </div>
      </div>

      <div class="form-group row">
        <label for="Gender" class="col-sm-3 col-form-label">Gender :</label>
        <div class="col-sm-9">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Male">
            <label class="form-check-label" for="Male">Male</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Female">
            <label class="form-check-label" for="Female">Female</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="Other" >
            <label class="form-check-label" for="Other">Other</label>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="Address" class="col-sm-3 col-form-label">Address :</label>
        <div class="col-sm-9">
          <textarea class="form-control" id="InputAddress" rows="3"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="State" class="col-sm-3 col-form-label">State : </label>
        <div class="col-sm-9">
          <select id="State" class="form-control">
            <option selected>Choose...</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="City" class="col-sm-3 col-form-label">City : </label>
        <div class="col-sm-9">
          <select id="City" class="form-control">
            <option selected>Choose...</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="District" class="col-sm-3 col-form-label">District : </label>
        <div class="col-sm-9">
          <select id="District" class="form-control">
            <option selected>Choose...</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="Pincode" class="col-sm-3 col-form-label">Pincode No :</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" id="inputPincode" placeholder="Pincode No">
        </div>
      </div>
      <div class="form-group row">
        <label for="Contact-No" class="col-sm-3 col-form-label">Contact No :</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" id="inputContact" placeholder="Contact No">
        </div>
      </div>
      <div class="form-group row">
        <label for="AltContact-No" class="col-sm-3 col-form-label">Alternate Contact No :</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" id="inputAltContact" placeholder="Alternate Contact No ">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
      </div>
      <div class="form-group row">
        <label for="Adhar-No" class="col-sm-3 col-form-label">AdharCard No :</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" id="inputAdhar" placeholder="Contact No">
        </div>
      </div>
      </fieldset>

            <!-- Education Qualification -->
            <fieldset>
              <legend>EDUCATIONAL QUALIFICATION</legend>
             
                <table class="table">
                  <thead>
                    <th>Examination</th>
                    <th>Board</th>
                    <th>Percentage</th>
                    <th>Year of Passing</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td data-label="Class">Class X</td>
                      <td data-label="Board"><input type="text" class="form-control" id="Board" maxlength="30"></td>
                      <td data-label="Percentage"><input type="text" class="form-control" id="Xper" maxlength="30"></td>
                      <td data-label="YOP"><input type="date" class="form-control" id="XPassYear"></td>
                    </tr>
          
                    <tr>
                      <td data-label="Class">Class XII</td>
                      <td data-label="Board"><input type="text" class="form-control" id="Board" maxlength="30"></td>
                      <td data-label="Percentage"><input type="text" class="form-control" id="XIIper" maxlength="30"></td>
                      <td data-label="YOP"><input type="date" class="form-control" id="XIIPassYear" ></td>
                    </tr>
          
                    <tr>
                      <td data-label="Class">Graduation</td>
                      <td data-label="Board"><input type="text" class="form-control" id="Board" maxlength="30"></td>
                      <td data-label="Percentage"><input type="text" class="form-control" id="Gper" maxlength="30"></td>
                      <td data-label="YOP"><input type="date" class="form-control" id="GPassYear" ></td>
                    </tr>
          
                    <tr>
                      <td data-label="Class">Masters</td>
                      <td data-label="Board"><input type="text" class="form-control" id="Board" maxlength="30"></td>
                      <td data-label="Percentage"><input type="text" class="form-control" id="Mper" maxlength="30"></td>
                      <td data-label="YOP"><input type="date" class="form-control" id="MPassYear" ></td>
                    </tr>
                  </tbody>
                  </table>
            </fieldset>

<!-- Reseravtion -->
<fieldset>
  <legend>RESERVATION</legend>
  <div class="form-group row">
    <label for="Reseravtion" class="col-sm-3 col-form-label">Categorie :</label>
    <div class="col-sm-9">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="Categorie" id="CategorieGeneral" value="General">
        <label class="form-check-label" for="General">General</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="Categorie" id="GeneralST" value="ST">
        <label class="form-check-label" for="ST">ST</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="Categorie" id="CategorieST(P)" value="ST(P)" >
        <label class="form-check-label" for="ST(P)">ST(P)</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="Categorie" id="CategorieST(HILLS)" value="ST(HILLS)">
        <label class="form-check-label" for="ST(HILLS)">ST(HILLS)</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="Categorie" id="CategorieOBC/MOBC" value="OBC/MOBC">
        <label class="form-check-label" for="OBC/MOBC">OBC/MOBC</label>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="Orthopaedically/Locomotor impaired" class="col-sm-3 col-form-label">Are you Orthopaedically/Locomotor impaired? :</label>
    <div class="col-sm-9">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="impaired" id="impairedYes" value="Yes">
        <label class="form-check-label" for="Yes">Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="impaired" id="impairedNo" value="No">
        <label class="form-check-label" for="No">No</label>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="Religion" class="col-sm-3 col-form-label">Religion :</label>
    <div class="col-sm-9">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="Religion" id="ReligionHinduism" value="Hinduism">
        <label class="form-check-label" for="Hinduism">Hinduism</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="Religion" id="ReligionIslam" value="Islam">
        <label class="form-check-label" for="Islam">Islam</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="Religion" id="ReligionChristian" value="Christian" >
        <label class="form-check-label" for="Christian">Christian</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="Religion" id="ReligionSikhism" value="Sikhism">
        <label class="form-check-label" for="Sikhism">Sikhism</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="Religion" id="ReligionOther" value="Other">
        <label class="form-check-label" for="Other">Other</label>
      </div>
    </div>
  </div>
</fieldset>

<!-- Zone -->
<fieldset>
  <legend>ZONE/DISTRICT FOR EXAMINATION/SUBJECT/MEDIUM/LANGUAGE</legend>
  <div class="form-group row">
    <label for="Zone" class="col-sm-3 col-form-label">Choice of Zone to : </label>
    <div class="col-sm-9">
      <select id="selectZone" class="form-control">
        <option selected>Choose...</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="DistrictChoice" class="col-sm-3 col-form-label">Choice of District For Examination : </label>
    <div class="col-sm-9">
      <select id="selectDistrict" class="form-control">
        <option selected>Choose...</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="subjectChoice" class="col-sm-3 col-form-label">Choice of Subject if Applying for paper II :</label>
    <div class="col-sm-9">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="subjectChoice" id="MathsScience" value="Mathematics & Science Teache">
        <label class="form-check-label" for="MathsScience">Mathematics & Science Teacher</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="subjectChoice" id="SocialStudies" value="Social Studies">
        <label class="form-check-label" for="SocialStudies">Social Studies</label>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="Booklet" class="col-sm-3 col-form-label">Medium of Test Booklet :</label>
    <div class="col-sm-9">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="TestBooklet" id="BookletAssam" value="Assamese">
        <label class="form-check-label" for="Male">Assamese</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="TestBooklet" id="BookletBengali" value="Bengali">
        <label class="form-check-label" for="Female">Bengali</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="TestBooklet" id="BookletBodo" value="Bodo" >
        <label class="form-check-label" for="Other">Bodo</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="TestBooklet" id="BookletHindi" value="Hindi">
        <label class="form-check-label" for="Male">Hindi</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="TestBooklet" id="BookletEnglish" value="English">
        <label class="form-check-label" for="Female">English</label>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="FirstLanguage" class="col-sm-3 col-form-label">First Language :</label>
    <div class="col-sm-9">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="Language" id="LanguageAssam" value="Assamese">
        <label class="form-check-label" for="Assamese">Assamese</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="Language" id="LanguageBengali" value="Bengali">
        <label class="form-check-label" for="Bengali">Bengali</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="Language" id="LanguageBodo" value="Bodo" >
        <label class="form-check-label" for="Bodo">Bodo</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="Language" id="LanguageHindi" value="Hindi">
        <label class="form-check-label" for="Hindi">Hindi</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="Language" id="LanguageGaro" value="Garo">
        <label class="form-check-label" for="Garo">Garo</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="Language" id="LanguageEnglish" value="English">
        <label class="form-check-label" for="English">English</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="Language" id="LanguageManipuri" value="Manipuri">
        <label class="form-check-label" for="Manipuri">Manipuri</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="Language" id="LanguageNepali" value="Nepali">
        <label class="form-check-label" for="Nepali">Nepali</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="Language" id="LanguageOther" value="Other">
        <label class="form-check-label" for="Other">Other</label>
      </div>
    </div>
  </div>
</fieldset>


<fieldset>
  <legend>PHOTOGRAPH & SIGNATURE</legend>
  <div class="form-group row">
    <label for="Photograph" class="col-sm-9 col-form-label">Instruction for Photograph : </label>
    <span id="PhotoMainIns"  class="col-sm-9 col-form-label">If your Photo is not Identifiable then your Application form will be Rejected.</span><br>
    <span id="Photo_Ins"  class="col-sm-9 col-form-label">=> Size of Photograph must be less then 35kb.</span><br>
    <span id="Photo_Ins"  class="col-sm-9 col-form-label">=> Height of Photograph must be between 250 pixel and 320 pixel.</span><br>
    <span id="Photo_Ins"  class="col-sm-9 col-form-label">=> width of Photograph must be between 150 pixel and 220 pixel.</span>
    <div class="col-sm-3">
      <input type="file" class="custom-file-upload" id="img" name="img" accept="image/*">
    </div>
  </div>
  <div class="form-group row">
    <label for="Signature" class="col-sm-9 col-form-label">Instruction for Signature : </label>
    <span id="PhotoMainIns"  class="col-sm-9 col-form-label">If your Photo is not Identifiable then your Application form will be Rejected.</span><br>
    <span id="Photo_Ins"  class="col-sm-9 col-form-label">=> Size of Photograph must be less then 35kb.</span><br>
    <span id="Photo_Ins"  class="col-sm-9 col-form-label">=> Height of Photograph must be between 250 pixel and 320 pixel.</span><br>
    <span id="Photo_Ins"  class="col-sm-9 col-form-label">=> width of Photograph must be between 150 pixel and 220 pixel.</span>
    <div class="col-sm-3">
      <input type="file" class="custom-file-upload" id="img" name="img" accept="image/*">
    </div>
  </div>
  </fieldset>
 

  <!-- Login -->
  <fieldset>
    <legend>LOGIN DETAILS</legend>
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-3 col-form-label">Password :<br><span id="login">(minimun 8 character and maximum 12)</span></label>
      
      <div class="col-sm-9">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputConfirmPassword" class="col-sm-3 col-form-label">Confirm Password :<br><span id="login">(Candidate to preserve own password)</span></label>
      
      <div class="col-sm-9">
        <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm Password">
      </div>
    </div>
    </fieldset>

<!-- Declaration -->
<fieldset>
  <legend>DECLARATION</legend>
    <input type="checkbox" name="declare" id="declare"><span class="dec"> I declare that the above entres in the Application Form has been filled up by myself and the entries made are correct as per my knowledge and blief. I agree that if any statement is proved to be false then the Authority shall have the right to take legal action against me and also cancel the application for submitting false information of statement. I further declare that and i have never been convicted for any offence involving moral turptidue.</span>
</fieldset>

<div class="button">
  <button type="submit" class="btn btn-primary">Submit</button>
  </div>


      </form>
    </div>
