<section>
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-sm-3 left_section">
      <img src="assets\Image\Assanuni.jpg" class="left_section_img" alt="Assam University" height="200px" width="280px;">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
      </div> -->
      <div class="col-sm-12 right_section">
       <div class="container right_section_container">
            <span>TEACHER ELIGIBILITY TEST</span>
       </div>
       <hr>
       <div class="link">
         <img class="exam_img" src="assets\Image\exam.png" alt="Exam" height="200px" width="180px">
         <strong>Corrigendum Notice </strong>
        <a href="#" class="btn btn-danger link_button" role="button">Notice</a>
        <br><br>
        <strong>Apply for TET Examination </strong>
        <a routerLink="/instruction" routerLinkActive="active" class="btn btn-info link_button" role="button">Apply Now</a>
        <br><br>
        <strong>Click here to Download Admit Card </strong>
        <a href="#" class="btn btn-info link_button" role="button">Download</a>
       </div>
        <hr><hr>
       <p>  
        <strong>The&nbsp;TET</strong>
      </p>
       <div class="content">
          <ul>
            <li>
              As per the mandate of RTE Act, the Government of  Assam , Department of Elementary Education had decided  to conduct Teachers' Eligibility Test with the objective of recruiting meritorious and qualified teachers following the guidelines and norms of National Council of Teacher Education( NCTE).
            </li><br>
            <li>
              The notification of the NCTE which is the designated Academic Authority under RTE Act, 2009, viz. F.No.61-03/20/2010/NCTE (N&S) dtd 23.08.2010 amended vide F.No.61-1/2011/NCTE(N &S) dated 29th July ,2011 which prescribes the minimum qualification – both academic and professional, for a person to be eligible for appointment as a Teacher and one of the essential qualification for a person to be eligible for appointment as a teacher in any schools referred to in clause(n) of section 2 of the RTE Act is that he/she should pass <strong>Teacher Eligibility Test conducted by the appropriate Government  in accordance with the guideline framed by NCTE.</strong>
            </li><br>
            <li>
              National Council of Teacher Education vide No. 76-4/2010/NCTE/Acad dtd 11.02.2011 has laid down the guidelines for conducting the Teachers' Eligibility Test (TET) under Right of Children to Free and Compulsory Education Act (RTE), 2009.
            </li><br>
            <li>
              Pursuant to this and  in order to ensure the intake of meritorious persons as Teachers, and thereby improve the quality of classroom transaction and   teaching as a whole,TET was conducted in Assam and a committee, known as Empowered Committee on TET was constituted and notified
            </li><br>
            <li>
              To bring about a perspective change in the education sector and to bring about quality in education, Government of Assam has conducted six number of TET so far in which 88571 candidates qualified. The Teachers Eligibility Test for Siksha Mitra   and Additional Siksha Mitra on the 19th of October, 2014 .
            </li><br>
          </ul>
       </div>
      </div>
    </div>
  </div>
</section>
 